-include Files

.SUFFIXES: .c .cc

CXX:=g++ -std=c++11
CXXFLAGS:=-O3 -march=native

LD=g++
LDFLAGS:=
LIBS:=
SYSLIBS:=-lGLU -lGL

OBJS:=$(SRCS:.cc=.o)
DEPS:=$(SRCS:.cc=.d)

all: $(PROG)

$(PROG): $(OBJS)
	@echo LD $<
	@$(LD) $(LDFLAGS) -o $@ $^ $(LIBS) $(SYSLIBS)

%.o: %.cc
	@echo CXX $<
	@$(CXX) $(CXXFLAGS) -MMD -c $< -o $@

clean::
	@if [ -n "$(OBJS)" ]; then rm -f $(OBJS); fi
	@if [ -n "$(DEPS)" ]; then rm -f $(DEPS); fi
	@if [ -f core ]; then rm -f core; fi
	@rm -f tags *.linkinfo

mrproper::
	@if [ -n "$(PROG)" ]; then rm -f $(PROG); fi
	@if [ -n "$(OBJS)" ]; then rm -f $(OBJS); fi
	@if [ -n "$(DEPS)" ]; then rm -f $(DEPS); fi
	@if [ -f core ]; then rm -f core; fi
	@rm -f tags *.linkinfo

